body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 25px 0;
  border-bottom: 1px solid #bfbfbf;
}

h2 .mask-num {
  border-radius: 20px;
  border: 2px solid #2a2f36;
  color: #2a2f36;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #333;
  padding: 10px 0;
  margin-bottom: 40px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .logo {
  width: 200px;
  //line-height: 50px;
  //color: #ddd;

  line-height: 50px;

  font-size: 24px;
  cursor: pointer;
}

.header .container .form {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.header .container .form input {
  width: calc(100% - 145px);
  height: 40px;
  text-indent: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s border;
}

.header .container .form input:focus {
  border: 1px solid #12c0dd;
}

.btn {
  background-color: black;
  border: 1px solid black;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 15px;
  font-size: 12px;
  height: 20px;
  outline: none;

}

.btn:hover {
  background-color: #0dd6f8;
  border-color: #0dd6f8;
}

.mask-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #fff;
}

.mask-list.complete-list li {
  border-left-color: #999;
  opacity: .5;
}
.mask-list {
    padding-left: 0;
}

input[type="checkbox"] + span {
    padding-left: 10px;
}

.btn-remove {
    border: 1px solid #2a2f36;
    font-size: 12px;
    border: 2px solid #2a2f36;
    background-color: #333333;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    outline: none;
    transition: 0.2s;
}

.btn-remove:hover {
  background-color: #535151;
  border-color: #535151;
}

